.container {
  height: 100vh;
  width: 100vw;
  background-color: darkgrey;
}

nav {
  display: flex;
  justify-content: flex-end;
}

a {
  text-decoration: none;
  color: white;
}

.nav-link {
  margin: 5px;
  padding: 5px;
  text-decoration: none;
}